.root {
  line-height: 1.5;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  width: 12.5rem;
  border: 1px solid transparent;
  padding: 0 1rem;
  font-size: 0.875rem;
  border-radius: 4px;
  height: 2rem;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;

  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);

  &:hover,
  &:focus {
    color: #fff;
    background-color: #40a9ff;
    border-color: #40a9ff;
  }
  &:active,
  &.active {
    color: #fff;
    background-color: #096dd9;
    border-color: #096dd9;
  }
}
